# =========================
# Python / Jupyter
# =========================
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/


# =========================
# MLflow (local tracking)
# =========================
mlflow/
mlruns/
mlflow.db
*.sqlite


# =========================
# Custom Files
# =========================
commands.txt
